
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
}
else
{
    <li>@Html.ActionLink("Details", "CustomerDetails","Users")</li>
}

