
@{
    ViewBag.Title = "Pickup Confirmed";
}

<h2>Pickup Confirmed!</h2>
<h4>A charge has been applied to the customer. Thank you for using Trash Collector.</h4>

@Html.ActionLink("Return Home", "Index", "Users")

