
@{
    ViewBag.Title = "Pickup Cancelled";
}

<h2>Pickup Cancelled</h2>
<h4>Today isn't this customer's pickup day. Click the link below to return home.</h4>

@Html.ActionLink("Return Home", "Index", "Users")

